  .carousel-outer {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
  }
  .carousel-inner {
    float: left;
    display: flex;
  }
  .carousel-inner img {
    width: 100%;
  }
  .comp-show {
    display: inline-block;
    width: 100%;
  }
  .comp-hide {
    display: none;
  }
  .prev-btn, .next-btn {
    float: left;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 10.0em;
    margin: 20px;
    text-decoration: none;
    color: rgba(255,255,255,0.2);

  }
  @media screen and (max-width: 480px) {
    .carousel-outer {
      height: 500px;
      display: flex;
      align-items: center;
    }
    .carousel-inner {
      width: 75%;
      height: 500px;
      float: left;
      display: flex;
      align-items: center;
    }
    .project-detail-inside {
      padding: 50px;
    }
    .prev-btn {
      margin-left: 0px;
    }
    .next-btn {
      margin-right: 0px;
    }
  }
