.project-header p, .project-header a {
  color: white;
}
.project-header {
  background: rgba(0, 0, 0, 0.8);
  margin-top: -100px;
}
.primary-header {
  background: rgba(255, 255, 255, 1);
}
.project-header, .primary-header {
  height: 125px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 60% 0, 0% 100%);
}
