html, header {
  background:
    linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
    url(../img/space.jpg) no-repeat fixed;
  }
html {
  height: 100%;
  width: 100%;
  font-family: 'Lato';
  font-weight: 300;
  color: white;
}
body {
  margin: 0px;
}
header {
  text-align: left;
  font-variant: small-caps;
  display: block;
  position: fixed;
  z-index: 50;
  width: 100%;
  border-bottom: 1px double white;
}
header>p {
  margin: 0;
  padding: 0 10px 10px;
  display: inline-block;
  font-size: 50px;
}
header>p>a {
  color: white;
  font-size: 50px;
  margin: 0px;
  text-decoration: none;
}
nav {
  text-align: right;
  display: inline-block;
  float: right;
  padding-top: 25px;
}
nav a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 0px 12px;
}
nav a:hover {
  border-bottom: 7px solid gray;
}
h2, h3, h4 {
  font-family: 'Italiana';
  font-weight: 200;
  font-size: 45px;
  margin: 0px;
}
#satellite {
  float: left;
  color: black;
  font-size: 10px;
}
@-webkit-keyframes move
{
  from {
    top: -20%;
    left: 60%;
  }
  to {
    top: 50%;
    left: 100%;
  }
}
@-webkit-keyframes blinker {
  0% { color: black; }
  20% { color: white; }
  60% { color: white; }
  75% { color: black; }
}
@keyframes move
{
  from {
    top: -15%;
    left: 60%;
  }
  to {
    top: 50%;
    left: 100%;
  }
}
@keyframes blinker {
  0% { color: black; }
  20% { color: white; }
  60% { color: white; }
  75% { color: black; }
}
span#satellite {
  position: fixed;
  margin-top: 100px;
  -webkit-animation: move 40s, blinker 2s;
  animation: move 20s, blinker 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.quote {
  font-family: 'Lato';
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  padding-top: 300px;
  position: relative;
  font-family: 'Italiana';
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.quote p {
  text-align: right;
  font-size: 24px;
}
.about {
  padding: 150px 20px 10px 20px;
  margin: auto;
  max-width: 900px;
}
.about h2 {
  font-size: 75px;
  font-variant: small-caps;
  text-align: center;
}
.about h2, .about h3, .about h4 {
  text-align: center;
}
.about h3, .about h4 {
  font-size: 18px;
  font-variant: lowercase;
  padding: 0 0 25px;
}
.about h4 {
  padding-top: 50px;
}
.about p {
  font-size: 24px;
  line-height: 40px;
  margin-left: 350px;
}
.about figure {
  padding: 35px 0;
  float: left;
  margin: 0;
}
.about img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}
.about div {
  float: left;
  max-width: 500px;
}
.about a {
  text-decoration: none;
  color: white;
  border-bottom: 7px solid gray;
}
.about a:hover {
  text-decoration: none;
}
.mobile-break {
  display: none;
}

@media only screen and (max-width: 850px) {
  nav {
    float: left;
    padding-top: 0px;
  }
  header>p {
    padding-bottom: 0;
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .about figure {
    width: 100%
  }
  .about img {
    display: block;
    margin: auto;

  }
  .about p {
    margin: 50px;
    display: block;
    clear: both;
  }
}

/*@media only screen and (max-width: 1100px) {
  .projects {
    padding: 100px;
  }
  .left-div {
    display: none;
  }
  .quote {
    padding: 400px 50px;
  }
  .quote, .about {
    margin-top: -100px;
  }
}*/
/*@media only screen and (max-width: 800px) {
  figure {
    display: flex;
    margin: 0px;
  }
  .about img {
    float: left;
    padding-right: 0px;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .mobile-break {
    display: block;
  }
  .project-header, .primary-header {
    height: 225px;
  }
  .projects {
    padding: 200px 25px;
  }
  .projects-inside {
    padding: 0px;
  }
  .project-detail-inside {
    padding: 150px 50px;
  }
  .about-inside {
    padding: 100px 0px;
  }
  .about-text {
    clear: both;
  }
  h2 {
    padding-top: 25px;
  }
}*/
