
html {
  height: 100%;
  width: 100%;
  font-family: 'Lato';
  font-weight: 300;
  color: #262625;
  background:
    linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(http://www.nakedeyeplanets.com/path-of-venus-jan-jun-2012.png) repeat-y center center;
}
body {
  margin: 0px;
}
img {
  width: 100%;
}
header {
  text-align: left;
  font-variant: small-caps;
  display: block;
  position: fixed;
  z-index: 50;
  width: 100%;
  border-bottom: 1px double white;
}
header>p {
  margin: 0;
  padding: 10px 15px;
  display: inline-block;
  font-size: 40px;
}
header>p>a {
  color: white;
  text-decoration: none;
}
nav {
  text-align: right;
  display: inline-block;
  float: right;
  padding: 25px;
}
nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 0px 12px;
}
nav a:hover {
  border-bottom: 7px solid gray;
}
h3, h4 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 45px;
  margin: 0px;
}
#satellite {
  float: left;
  color: white;
  font-size: 10px;
  opacity: 0;
}
@-webkit-keyframes move
{
  from {
    top: -15%;
    left: 60%;
  }
  to {
    top: 50%;
    left: 100%;
  }
}
@-webkit-keyframes blinker {
  40% { opacity: 0;}
  50% { color: white; opacity: 1;}
  70% { color: white; opacity: 1;}
  80% { opacity: 0;}
}
@keyframes move
{
  from {
    top: -15%;
    left: 60%;
  }
  to {
    top: 50%;
    left: 100%;
  }
}
@keyframes blinker {
  40% { color: black; opacity: 0;}
  50% { color: white; opacity: 1;}
  70% { color: white; opacity: 1;}
  80% { color: black; opacity: 0;}
}
span#satellite {
  position: fixed;
  margin-top: 100px;
  -webkit-animation: move 40s, blinker 1.5s;
  animation: move 20s, blinker 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.quote {
  font-family: 'Lato';
  color: #262625;
  letter-spacing: 1px;
  display: block;
  position: relative;
  text-align: center;
  overflow: overlay;
}
.quote h2 {
  font-variant-caps: petite-caps;
  font-size: 13vw;
  text-align: center;
  margin: 0;
  line-height: 45px;
  padding-bottom: 45px;
  transform: scale(1.05);
}
.quote hr {
  width: 50%;
}
.quote h3 {
  text-align: right;
  font-size: 24px;
}
.about {
  margin: auto;
  max-width: 900px;
  color: #262625;
}
.about p {
  font-size: 24px;
  line-height: 40px;
}
.about figure {
  padding: 35px 0;
  float: left;
  margin: 0;
}
.about img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}
.about div {
  float: left;
  max-width: 500px;
}
.about a {
  text-decoration: none;
  color: white;
  border-bottom: 7px solid gray;
}
.about a:hover {
  text-decoration: none;
}
.case-studies {
  margin: 200px 0;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  box-shadow: 0px 0px 16px #eeeeee;
}
.case-studies button {
  border: 1px solid #262625;
  padding: 16px;
  margin: 48px 0 0 0;
  font-size: 16px;
  background-color: transparent;
  font-family: 'Lato';
  font-weight: 300;
  color: #262625;
}
.case-studies a {
  color: #262625;
  text-decoration: none;
}
/*.case-studies:hover {
  transform: scale(1.1);
}*/
.case-studies figure {
  width: 33%;
  padding: 0 45px;
  /*border-right: 1px solid #262625;*/
}
.case-studies div {
  width: 33%;
  float: left;
  padding-top: 5px;
}
.case-studies h3 {
  font-weight: 600;
  font-size: 24px;
  font-variant-caps: all-petite-caps;
}
.case-studies h4 {
  font-weight: 300;
  font-size: 18px;
  font-variant-caps: all-petite-caps;
  margin-bottom: 24px;
}
.case-studies p {
  font-size: 14px;
  margin: 0;
  line-height: 24px;
}
.case-studies br {
  clear: both;
}
@media only screen and (max-width: 850px) {
  nav {
    float: left;
    padding: 5px 0 15px;
  }
  header>p {
    padding-bottom: 0;
    display: block;
  }
}
.grid {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 1020px;
  margin: auto;
}
.grid figure {
  width: 90%;
  margin: auto;
}
.grid div {
  width: 33%;
  margin-bottom: 35px;
}
/*.lightbox-lt, .lightbox-md, .lightbox-rt {
  transition: all .5s;
}
.lightbox-lt:hover {
  transform-origin: top left;
  transform: scale(1.2);
}
.lightbox-md:hover {
  transform: scale(1.2);
}
.lightbox-rt:hover {
  transform-origin: top right;
  transform: scale(1.2);
}*/
@media only screen and (max-width: 650px) {
  .about figure {
    width: 100%
  }
  .about img {
    display: block;
    margin: auto;

  }
  .about p {
    margin: 50px;
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 480px) {
  header, header>p, header nav {
    text-align: center;
    width: 100%;
  }
  header>p {
    font-size: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  br {
    display: block;
  }
  nav {
    margin: 10px 0 20px;
  }
  nav a {
    font-size: 22px;
    clear: both;
  }
  .about {
    padding: 250px 5px 10px 5px;
  }
  html, header {
    background:
      linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
      url(../img/space.jpg) repeat-y fixed;
    }
  }
}
