/*@media only screen and (max-width: 850px) {
  .mobile-break {
    display: block;
  }
  .projects {
    padding-top: 225px;
  }
  .projects-inside {
    padding: 0px;
  }
  .project-header {
    height: 225px;
    color: gray;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 60% 0, 0% 100%);
  }
  .about-inside {
    padding: 100px 0px;
}*/
