@-moz-document url-prefix() {
  .project-header {
    margin-top: -150px;
    transform: skewY(-15deg);
  }
  .project-header nav, .project-header p {
    transform: skewY(15deg);
  }
  .projects {
    transform: skewY(15deg);
    margin-top: 150px;
    padding: 50px 50px 150px 50px;
  }
  .projects-inside {
    transform: skewY(-15deg);
  }
}
