.designs {
  article {
    display: flex;
    flex-direction: column;
    .projects {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-size: 100% 100%;
      display: block;
      z-index: 10;
      display: block;
      position: relative;
      text-align: left;
      margin-bottom: 100px;
      figure {
        width: 50%;
        padding: 0;
        img {
          display: block;
        }
      }
      .details {
        display: block;
        float: left;
        width: 50%;
        display: inline-block;
        z-index: 90;
        box-sizing: border-box;
        padding: 30px;
      }
    }
    .projects:nth-of-type(odd) {
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
      figure {
        float: left;
      }
      .details {
        // padding-left: 20px;
      }
    }
    .projects:nth-of-type(even) {
      background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
      figure {
        float: right;
      }
      .details {
        // padding-right: 20px;
      }
    }
  }
}

.web, .print {
  figure {
    float: left;
  }
}

.graphic {
  figure {
    float: right;
  }
}
